.icon {
    height: 1em;
}

code {
    background-color: rgb(17, 20, 24);
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
    text-decoration: none;
}

hidden {
    display: none;
}

.navbar {
    padding-bottom: 10px;
}

.project-tagline {
    text-align: center;
    font-style: italic;
}

.release h1, .release h2, .release h3 {
    font-size: large;
}
.release h4 {
    font-size: medium;
}

.release h5, .release h6 {
    font-size: small;
}

.release h6 {
    font-size: small;
}

.release {
    padding-left: 2em;
}